#UI {
  margin: 25px;

  font-size: 1.5rem;
  color: white;

  #UI-left, #UI-right {
    top: 0;
    position: absolute;

  }
  & > * > * {
    margin: 2px 0;
  }

  #UI-left {
    left: 0;
  }
  #UI-right {
    text-align: right;
    right: 0;
  }

  span.data {
    color: #a7fffb;
  }

  #eaten-cheese {
    margin-top: 10px;

    font-size: 1.25em;

    img {
      margin-right: 25px;
    }
  }
}
