.game-UI {
  margin: 25px;

  font-size: 1.5rem;
  color: white;

  .absolute {
    top: 0;
    position: absolute;

    &.left {
      left: 0;
    }
    &.right {
      text-align: right;
      right: 0;
    }

    & > * {
      margin: 2px 0;
    }
  }

  span.data {
    color: #a7fffb;
  }

  .eaten-cheese {
    margin-top: 10px;

    font-size: 1.25em;

    img {
      margin-right: 25px;
    }
  }
}
