#score-screen {
  table {
    width: 100%;

    th {
      font-size: 1.15rem;
      text-align: left;

      border-bottom: 1px solid #333;
    }

    th, td {
      padding: 4px 8px;
    }
  }

  input[type=button] {
    margin-top: 20px;
  }
}
