.second-screen {
  input[type=text] {
    height: 20px;

    padding: 5px 15px;
    margin: 0 0 20px 0;

    border: none;
    border-bottom: 1px solid #333;
    border-radius: .25rem .25rem 0 0;
    outline: none;

    &:invalid {
      opacity: .5;
    }
  }
}
