doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.min.css")
    title Tom And Jerry
  body.container__full-screen
    // Видеоролик с предысторией героев
    #prehistory.container__full-screen.hide
      video.full-screen(src="media/TAJ-history.mp4" autoplay muted)
      .skip.bottom
        p Нажмите "Пробел", чтобы пропустить ролик

    // Игра
    #game-zone.container__full-screen.container__full-screen_center
      // Оверлей с игровой информацией
      #UI.full-screen
        #UI-left
          #timer
            span Время: 
            span.data
          #hp
            span HP: 
            span.data
          #eaten-cheese
            img(src="img/Cheese.png", width="40", height="40")
            span.data

        #UI-right
          #player-name
            span Никнейм: 
            span.data
          #mute-status
            span.data Выключить звук - SHIFT

      // Канвас игры
      canvas

    // Первый экран с выводом инструкции и выбором персонажа
    #game-menu.container__full-screen.container__full-screen_center.hide
      .popup
        // Инструкция по игре
        #instruction
          h2 Том и Джерри
          p Добро пожаловать в игру "Том и Джерри"! Цель данной игры - съесть как можно больше сыра, стараясь уворачиваться от врагов - котов
          p Изначально у вас 100 HP. За каждый съеденный кусочек сыра дается 10 HP. У игрока не может быть больше 100 HP. HP уменьшается каждую секунду игрового времени на одну единицу
          p За контакт с котом отнимается 20 HP и 30 HP за каждую полную секунду контакта
        // Выбор персонажа
        #characters
          .character(data-character="Jerry")
            img(src="img/Jerry.jpg", alt="Jerry" width="100px")
          .character(data-character="Tuffy")
            img(src="img/Tuffy.png", alt="Tuffy" width="100px")
        // Ввод никнейма
        #nickname
          h2 Введите свой никнейм
          input(type="text", name="nickname" placeholder="Ваш Никнейм" required)
        input#js-start(type="button", value="Начать игру" disabled)

    // Экран с выводом результатов
    #score-screen.container__full-screen.container__full-screen_center.hide
      .popup
        h2 Таблица счета
        table
          tr
            th Никнейм
            th Счет
          tr
            td Игрок номер 1
            td 1000
          tr
            td Игрок номер 2
            td 800
        input#js-restart(type="button", value="Начать заново")

    #pause-screen.container__full-screen.container__full-screen_center.hide
      h1 Пауза
      p Для возобновления игры нажмите Esc

    script(src="js/main.js")
